@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@600&display=swap");

* {
  cursor: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
}

html {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

#contact-body {
  overflow-y: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Red Hat Text", sans-serif;
}

::-webkit-scrollbar {
  width: 4px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #6c757d;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #495057;
}

::-webkit-scrollbar-thumb:active {
  background: #212529;
}

.cursor {
  z-index: 100000000000000000000000000000000000000000000000000;
  width: 30px;
  pointer-events: none;
  height: 30px;
  border: 1px solid #5fc74f;
  border-radius: 50%;
  position: absolute;
  transition-duration: 200ms;
  transition-timing-function: ease-out;
  animation: cursorAnim 0.5s infinite alternate;
  transform: translate(-50%, -50%);
}

.cursor:after {
  content: "";
  width: 30px;
  height: 30px;
  border: 10px solid #5fc74f;
  border-radius: 50%;
  position: absolute;
  opacity: 0.9;
  top: -11px;
  left: -11px;
  animation: cursorAnim2 0.5s infinite alternate;
}

.expand {
  animation: cursorAnim3 0.5s forwards;
  border: 1px solid #5fc74f;
}

@keyframes cursorAnim {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.7);
  }
}

@keyframes cursorAnim2 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.4);
  }
}

@keyframes cursorAnim3 {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(3);
  }
  100% {
    transform: scale(1);
    opacity: 0;
  }
}

header {
  top: 0;
  left: 0;
  z-index: 2;
  position: fixed;
  width: 100%;
  height: 100px;
  background-color: white;
  box-shadow: -5px 10px 25px black;
  padding-top: -20px;
}

/* #0098A7 */

nav {
  color: white;
}

a {
  text-decoration: none;
}

nav ul {
  display: flex;
  font-family: "Red Hat Text", sans-serif;
  float: right;
  margin-right: 0;
  margin-right: -30px;
  padding-top: 20px;
  line-height: 80px;
}

.gs {
  background-color: #5fc74f;
  color: white;
  font-size: 1.3rem;
  border-radius: 30px;
  padding: 11px;
  border: 2px solid #5fc74f;
  transition: color 0.5s ease-out, background-color 0.5s ease-out,
    border-color 0.5s ease-out;
}

.gs:hover {
  color: #5fc74f;
  background-color: white;
  border-color: #5fc74f;
  transition: color 0.5s ease-in, background-color 0.5s ease-in,
    border-color 0.5s ease-out;
}

.hm {
  color: white;
  text-shadow: none;
  text-transform: none;
  padding-right: 0;
  font-size: 2.5rem;
}

header nav ul li {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 1.3rem;
  padding-right: 60px;
  display: inline-block;
}

header nav ul a {
  color: #5fc74f;
}

.line-transition::after {
  content: "";
  display: block;
  width: 0;
  height: 3px;
  background: #5fc74f;
  transition: width 0.3s;
  margin-top: -3.5px;
}

.line-transition:hover::after {
  width: 100%;
  transition: width 0.3s;
}

.title {
  margin-top: 20px;
  margin-left: 50px;
  width: 70px;
  height: 70px;
}

.main {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.main img {
  margin-top: 100px;
  width: 600px;
  height: 600px;
}

.main p {
  margin-top: -20px;
  color: #5fc74f;
  font-size: 2rem;
  margin: 0 450px;
  font-family: "Rationale", sans-serif;
  text-align: center;
}

.testimonials {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
  flex-direction: row;
  margin-top: 190px;
  padding: 100px 0;
}

.testimonials .testimonial {
  padding-left: 50px;
  padding-right: 50px;
}

.testimonial {
  background-color: #5fc74f;
  border-radius: 10px;
  color: white;
  margin: 20px;
  transition: box-shadow 0.3s ease-in, background-color 0.3s ease-in,
    color 0.3s ease-in;
}

.testimonial:hover {
  transition: box-shadow 0.3s ease-out, background-color 0.3s ease-out,
    color 0.3s ease-out;
  box-shadow: 0px 0px 20px 10px #dedede;
  background-color: #fff;
  color: #5fc74f;
}

.testimonials .testimonial .cp {
  font-family: "Noto Sans", sans-serif;
  font-size: 1.3rem;
  padding: 30px 0px;
  text-align: center;
}

.testimonials .testimonial .ci {
  width: 150px;
  height: 150px;
  padding: 20px;
  border-radius: 50%;
}

.testimonials .testimonial .img {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flex;
  display: -o-flex;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.6rem;
}

.test-heads {
  font-family: "Red Hat Text", sans-serif;
  text-align: center;
}

.frame-2 {
  margin-top: 200px;
}

.frame-2 p {
  text-align: center;
  font-size: 2rem;
  font-family: "Red Hat Text", sans-serif;
  color: #5fc74f;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
  margin-left: 20px;
  margin-top: 40px;
}

.cards ::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.card {
  margin: 25px;
  padding: 25px;
  margin-left: 10px;
  padding-left: -100px;
  border-radius: 3px;
  transition: box-shadow 0.3s ease-in;
  display: flex;
  align-items: center;
  justify-content: start;
  flex-direction: column;
}

.card:hover {
  transition: box-shadow 0.3s ease-out;
  box-shadow: 0px 0px 20px 10px #dedede;
}

.card img {
  width: 350px;
  height: 200px;
  border-radius: 3px;
  margin-bottom: 10px;
  border: 2px solid #fff;
}

.card p {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.5rem;
  text-align: center;
  color: #6c757d;
}

.frame-3 {
  margin-top: 150px;
}

.frame-3 p {
  text-align: center;
  font-size: 2rem;
  color: #5fc74f;
  font-family: "Red Hat Text", sans-serif;
}

.lanes {
  margin: 100px;
}

.lane-img {
  width: 200px;
  height: 200px;
  border-radius: 2px;
}

.lane {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  transition: box-shadow 0.3s ease-in;
  border: 1px solid #dedede;
  padding: 20px;
  border-radius: 3px;
}

.lane:hover {
  transition: box-shadow 0.3s ease-out;
  box-shadow: 0px 0px 20px 10px #dedede;
}

.lane p {
  margin: 50px;
  color: #8c8c8c;
  font-size: 1.2rem;
  text-align: left;
}

footer {
  height: 70px;
  background-color: #5fc74f;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  position: relative;
  bottom: 0;
  left: 0;
}

footer p {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.1rem;
  word-spacing: 3px;
}

form {
  display: flex;
  flex-direction: column;
  padding-top: 100px;
  margin: 0 400px;
}

form label {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.3rem;
  color: #8c8c8c;
  margin: 7px 0;
  margin-top: 40px;
}

form input,
textarea {
  font-family: "Red Hat Text", sans-serif;
  font-size: 1.1rem;
  padding: 10px;
  color: #8c8c8c;
  border-radius: 3px;
  border: none;
  box-shadow: 0px 0px 20px 3px;
}

#foot-con {
  margin-top: 73px;
}

#submit {
  color: white;
  background-color: #5fc74f;
  border-color: #5fc74f;
  margin-top: 30px;
  cursor: pointer;
  font-size: 1.5rem;
  box-shadow: 0px 0px 20px 3px #8c8c8c;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}

#submit:hover {
  transition: color 0.3s ease-out, background-color 0.3s ease-out;
  color: #5fc74f;
  background-color: white;
}

.contact-foot {
  width: 100vw;
  position: absolute;
  bottom: 0;
}

.contact {
  margin-top: 250px;
}

#contact-head {
  font-family: "Crimson Text";
  text-shadow: 5px 5px 25px #8c8c8c;
  text-align: center;
  font-size: 10rem;
  color: white;
}

#number {
  font-size: 2.5rem;
  font-family: "Red Hat Text", sans-serif;
  text-align: center;
  color: #5fc74f;
}

#rnum {
  color: #5fc74f;
}

@media (max-width: 1100px) {
  .main p {
    margin: 0 350px;
  }

  .main img {
    margin-top: 100px;
    width: 500px;
    height: 500px;
  }

  .testimonials .testimonial {
    padding-left: 30px;
    padding-right: 30px;
  }

  .testimonial {
    margin-left: 10px;
    margin-right: 10px;
  }
}

@media (max-width: 900px) {
  #contact-head {
    font-size: 8rem;
  }

  #number {
    font-size: 2rem;
  }

  .main p {
    margin: 0 150px;
  }

  .main img {
    margin-top: 150px;
    width: 450px;
    height: 450px;
  }

  header nav ul li {
    padding-right: 40px;
    font-size: 1.2rem;
  }

  .gs {
    font-size: 1.2rem;
  }

  .testimonials .testimonial {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 30px;
  }

  .testimonials {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .card img {
    width: 250px;
  }
}

@media (max-width: 800px) {
}

@media (max-width: 700px) {
  #contact-head {
    font-size: 7rem;
  }

  #number {
    font-size: 1.8rem;
  }

  header nav ul li {
    padding-right: 30px;
    font-size: 1.1rem;
  }
  .gs {
    font-size: 1.1rem;
  }

  .title {
    margin-top: 25px;
    margin-left: 30px;
    width: 60px;
    height: 60px;
  }

  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }

  .card img {
    width: 350px;
  }

  .lanes {
    margin: 50px;
  }

  .lane p {
    margin: 20px;
  }
}

@media (max-width: 600px) {
  #contact-head {
    font-size: 5rem;
  }

  #number {
    font-size: 1.5rem;
  }

  .main p {
    margin: 0 50px;
  }

  .main img {
    margin-top: 150px;
    width: 400px;
    height: 400px;
  }

  header nav ul {
    margin-right: -15px;
  }

  header nav ul li {
    font-size: 1rem;
    padding-right: 20px;
  }

  .gs {
    font-size: 1rem;
    padding: 7px;
  }

  .title {
    margin-top: 30px;
    width: 50px;
    height: 50px;
    margin-left: 10px;
  }
}

@media (max-width: 550px) {
  .testimonials {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    margin-top: 0px;
    margin-bottom: 0px;
  }
}

@media (max-width: 500px) {
  #contact-head {
    font-size: 4rem;
  }

  header nav ul li {
    padding-right: 18px;
    font-size: 0.8rem;
  }

  .gs {
    font-size: 0.8rem;
  }

  .card img {
    width: 200px;
  }

  .lanes {
    margin: 20px;
  }

  .lane {
    flex-direction: column;
  }
}

@media (max-width: 400px) {
  header nav ul li {
    padding-right: 0px;
    margin-top: 10px;
    margin-right: 16px;
    font-size: 0.78rem;
    letter-spacing: 0px;
  }

  .gs {
    font-size: 0.78rem;
    padding: 5px;
  }

  .title {
    margin-top: 38px;
    padding-bottom: 0;
  }

  .main img {
    width: 350px;
    height: 350px;
  }

  .main p {
    font-size: 1.5rem;
  }
}
